.header__line {
    background-image: url(../../../images/Длинная-линия.png);
    background-color: #545454;
    min-height: 1px;
    margin: 40px 0 0;
}

@media screen and (max-width: 798px) {
    .header__line {
        margin: 31px 0 0;
    }
}