.elements {
list-style: none;
max-height: 744px;
margin: 47px 0 0;
display: grid;
gap: 20px 17px;
grid-template-columns: repeat(3, 282px);
padding: 0;
}

@media screen and (max-width: 320px){
    .elements {
    grid-template-columns: 282px;
}