.profile__info {
    margin-left: 30px;
    display: flex;
    flex-direction: column;

    /* max-width: calc(100% - 150px - 120px - 25px - 25px);  */
}

@media screen and (max-width: 798px) {
    .profile__info {
        margin: 25px 0 0;
    }
}